
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #444;
  color: white;
  text-align: center;
  padding: 20px;
}


main {
  padding: 20px;
}


section {
  background-color: white;
  margin: 20px 0;
  padding: 15px;
  border-radius: 10px;
}


h1 {
  font-size: 36px;
}

h2 {
  color: #444;
}


p {
  line-height: 1.6;
}


ul {
  padding-left: 20px;
}

.quote {
  background-color: #777777; 
  color: white;

  text-align: right; 

  padding: 7px; 
}
